<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
<div class="container">
    <div class="col-md-4">
        <h1>Books</h1>
    </div>


<div class="col-md-4" style="padding:20px 0">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" class="btn btn-danger"/>
    </form>
</div>
<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Isbn</th>
        <th>Year</th>
        <th>Category</th>
        <th>Action</th>


    </tr>
    <tr th:each = "book : ${books} ">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.Isbn}"></td>
        <td th:text="${book.year}"></td>
        <td th:text="${book.category.name}"></td>
        <td> <a sec:authorize="hasRole('ADMIN')" th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger btn-sm">Delete</a></td>


    </tr>
</table>
<a href="/add"><button class="btn btn-success">Add Book</button></a>
</div>
</body>
</html>